@model BaseDatosFisica.Models.Procedencia

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Procedencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProcedenciaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
