@model BaseDatosFisica.Models.Test

@{
    ViewBag.Title = "Eliminar Test";
}

<h3>Estás seguro que quieres eliminar el Test @Model.Nombre</h3>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <br />
            <br />
            
            <input type="submit" value="Estoy Seguro" class="btn btn-default" />
           <br />
            <br />
            <br />
            @Html.ActionLink("Atrás", "Test", new { id = Model.TestID})
        </div>
    }

