@model BaseDatosFisica.Models.ParaLasVistas.CategoriaEstadisticasViewModel
@{
    ViewBag.Title = "Categoria";
}

<h2>Porcentaje de aciertos de los estudiantes por categoria</h2>

<table class="table">
    <tr>
        <th>
            Estudiante
        </th>
        @foreach (var categoria in Model.Categorias)
        {
            <th>
                @categoria.CategoriaNombre
            </th>
        }
    </tr>
    @foreach (var estudiante in Model.EstudiantesCategorias)
    {
        <tr>
            <td>
                @(estudiante.Estudiante.Nombre + " " + estudiante.Estudiante.Apellidos) 
            </td>
            @foreach (var categoria in Model.Categorias)
            {
                var correctas = estudiante.Correctas[categoria.CategoriaID];
                var total = estudiante.Total[categoria.CategoriaID];
                var porcentaje = total != 0 ? Math.Round((double)correctas / total * 100, 0) : 0;
                <td>
                    @correctas/@total (@porcentaje%)
                </td>
            }
        </tr>
    }
</table>