
@{
    ViewBag.Title = "Categoria";
}

<h2>Porcentaje de aciertos de los estudiantes por categoria</h2>

<table class="table">
    <tr>
        <th>
            Estudiante
        </th>
        <th>
            Categoria1
        </th>
        <th>
            Categoria2
        </th>
        <th>
            Categoria3
        </th>
    </tr>
    <tr>
        <td>
            Luis Lara
        </td>
        <td>
            1/5 (20%)
        </td>
        <td>
            4/9 (44%)
        </td>
        <td>
            5/7 (71%)
        </td>
    </tr>
    <tr>
        <td>
            Carlos Arrieta
        </td>
        <td>
            2/5 (40%)
        </td>
        <td>
            3/9 (33%)
        </td>
        <td>
            4/7 (57%)
        </td>
    </tr>
    <tr>
        <td>
            Estudiante1
        </td>
        <td>
            4/5 (80%)
        </td>
        <td>
            1/9 (11%)
        </td>
        <td>
            3/7 (43%)
        </td>
    </tr>
</table>