
@{
    ViewBag.Title = "Estadisticas";
}

<h2>Estadisticas</h2>

@Html.ActionLink("Test", "Estudiante")
<br/>
@Html.ActionLink("Categoria", "Categoria")
<br/>
@Html.ActionLink("Procedencia", "Procedencia")