@model BaseDatosFisica.Models.ParaLasVistas.EstadisticaProcedenciaViewModel
@{
    ViewBag.Title = "Procedencia";
}

<h2>Porcentaje de aciertos de los estudiantes de cada procedencia por Curso</h2>

<table class="table">
    <tr>
        <th>
            Procedencia
        </th>
        @foreach (var curso in Model.Cursos)
        {
            <th>
                Curso @curso.Anho-@(curso.Anho + 1)
            </th>
        }
        
        <th>
            Total
        </th>
    </tr>
    @foreach (var procedencia in Model.ProcedenciaCursos)
    {
        int TotalCorrectas = 0;
        int TotalTotales = 0;
        <tr>
            <td>
                @procedencia.Procedencia.valor
            </td>
            @foreach (var curso in Model.Cursos)
            {
                var correctas = procedencia.Correctas.ContainsKey(curso.CursoID) ? procedencia.Correctas[curso.CursoID] : 0;
                var total = procedencia.Total.ContainsKey(curso.CursoID) ? procedencia.Total[curso.CursoID] : 0;
                var porcentaje = total != 0 ? Math.Round((double)correctas / total * 100, 0) : 0;
                TotalCorrectas += correctas;
                TotalTotales += total;
                <td>@correctas/@total (@porcentaje%)</td>
            }

            <td>
               
                @{var porcentajeT = TotalTotales != 0 ? Math.Round((double)TotalCorrectas / TotalTotales * 100, 0) : 0;}
                @TotalCorrectas/@TotalTotales (@porcentajeT%)
            </td>

        </tr>

    }
   
   
</table>