
@{
    ViewBag.Title = "Procedencia";
}

<h2>Porcentaje de aciertos de los estudiantes de cada procedencia por Curso</h2>

<table class="table">
    <tr>
        <th>
            Procedencia
        </th>
        <th>
            Curso 2018-2019
        </th>
        <th>
            Curso 2019-2020
        </th>
        <th>
            Total
        </th>
    </tr>
    <tr>
        <td>
            Lenin
        </td>
        <td>
            1/4 (25%)
        </td>
        <td>
            5/8 (63%)
        </td>
        <td>
            6/12 (50%)
        </td>
    </tr>
    <tr>
        <td>
            Proyecto UH
        </td>
        <td>
            2/4 (50%)
        </td>
        <td>
            3/8 (38%)
        </td>
        <td>
            5/12 (42%)
        </td>
    </tr>
    <tr>
        <td>
            Preuniversitario
        </td>
        <td>
            4/4 (100%)
        </td>
        <td>
            1/8 (13%)
        </td>
        <td>
            5/12 (42%)
        </td>
    </tr>
</table>